@tailwind base;
@tailwind components;
@tailwind utilities;

/* BetButton.css */
.button {
    background-color: #3b82f6; 
    border: 2px solid #000; 
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    cursor: pointer; 
  }
  
  .button:hover {
    background-color: #1e3a8a; 
    transform: scale(1.05);
  }
  
  .bet-list {
    background-color: #3b82f6;
    border-radius: 10px; 
  }
  
  .bet-item {
    padding: 10px; 
    transition: background-color 0.3s ease;
  }
  
  .bet-item:hover {
    background-color: #1e3a8a;
  }
  

.bet-button {
    position: relative;
    display: inline-block;
    border-radius: 10px; 
    overflow: hidden; 
    cursor: pointer; 
  }
  
  .bet-button:hover {
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.8); 
  }
  
  .bet-text {
    transition: font-size 0.3s ease; 
  }
  